h1{color:blue; font-family:helvetica; }

h2{color:#C100C1;}
h4{color:#C100C1;}


h3{color: #C100C1;}
ul {list-style-type: none; margin: 0; padding: 0; overflow: hidden;background color:#FFFFFF;}
li {float: left;}
li a {display: block; color: black; text-align: center;padding: 14px 16px;text-decoration:none;}
/*Change the link color to #000080 on hover */
li a hover {background-color: #000080;}
.active {background-color: #000080;}

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
  
